





    body {
        backgroundImage: 'url(http://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-fresh-light-green-plant-advertising-background-image_282287.jpg)';
        backgroundSize: 'cover';
        backgroundPosition: 'center center';
        backgroundRepeat: 'no-repeat';
        margin: '-8px';
        padding: '10px';
        width: '100%';
        backgroundAttachment: 'fixed';
    }
