

* {
  border:  red;
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}


body {
  
}




  header {
    background: #7BB2D9;
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 1px 25px -4px rgba(0,0,0,0.4);
    color: white;
    display: flex;
    height: 100vh;
    font-family: 'Lato';
    min-width: 45px;
    position: absolute;
    transition: all .3s ease;
    width: 6.5vw;

  }
 



    .budget-content {
      display: flex;
      flex: 1;
      height: calc(100% - 8em);}

      .expense-categories {
        background: #5C993E;
        border-radius: 3px;
        box-shadow: 1px 1px 25px -4px rgba(0, 0, 0, 0.4);
        color: white;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: calc(100vh - 1em);
        margin: .5em .25em;
        padding: .5em;
      }

        .category-list {
          overflow: scroll;
        }
        .category {
          border-bottom: solid .5px white;
          cursor: pointer;
          padding: .5em;
          position: relative;
        }

          .category-title {
            display: flex;
            align-items: center;
          }

            h3 {
              font-size: 1.4em;
              position: relative;
              text-transform: uppercase;
              top: 2px;
            
            }
              /*TO PRODUCE UNDERLINE*/
              :before {
                content: '';
                position: absolute;
                height: 100%;
                width: 90%;
                top: 0; 
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                border-bottom: solid 1px white;
              }
            

            .budget {
              flex: 1;
              font-family: 'Lato';
              font-size: 1.4em;
              margin: .5em;
            }
        
          

          h4 {
            font-size: 1.2em;
            margin-bottom: .5em;
          }

            input:nth-child(1) {
              border-left: solid .5px white;
              margin-right: 1em;
            }

            input:nth-child(2) {
              margin-right: 1em;
            }

         